/* ------------------------------------- General Styling */
*{
    padding: 0;
    margin: 0;
    font-family: Oswald,'Times New Roman', Times, serif;
}

/* ------------------------------------- Home Wraper Styling */
.home-container{
    border-bottom: 10px solid #717375;
}

/* -------------------------------------- Navigation bar */
.home-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0081cf;
    border-bottom: 3px solid black;
}

/* Brand Logo */
img[src="image/logo23.jpeg"] {
    height: 4rem;
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
}

/* User  Avatar */
img[src="image/avatar.png"] {
    border-radius: 50%;
    height: 3rem;
    width: 3em;
    border: 2px solid whitesmoke;
}

/* navigation right side section */
.home-avatar-Icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* navigation icon*/
.home-avatar-Icon *{
    color: whitesmoke;
}

.icons{
    padding-right: 10px;
    
}

.icons>a{
    text-decoration: none;
}

.icons>a>span,.icons>span{
    font-size: 32px;
}

/* Hidden menu icon */
#menu-logo,#close-logo{
    display: none;
    font-size: 32px;
}

/* ---------------------------------------- Home body */
.home-body{
    display: grid;
    grid-template-columns: 17% auto;    
}

/* ----------------------------------------- left column */
.home-left-column{
    grid-column: 1/2;
    background-color: #DAEBF2;
}

.home-left-column>a>div{
    display: flex;
    margin: 1rem 0;
    background-color: #0081cf;
    padding: 10px 0;
    transition: all 250ms;
    border: 2px solid black;
    border-radius: 5px;
}

.home-left-column>a>div:hover{
    margin-left: 15px;
    border-left: 10px solid black;
    color: whitesmoke;
}

.home-left-column>a>div>span{
    font-size: 32px;
}

.home-left-column>a>div>*{
    padding: 5px;
}

.home-left-column>a>div>*{
    padding-left: 1rem;
} 
.home-left-column>a{
    text-decoration: none;
    color: black;
}

/* adding and removing color*/
.colorOn{
    color: white;
}

/* -------------------------------------------------- Right Column*/
.home-right-column{
    grid-column: 2/3;
    background-color: #DAEBF2;
}

/* --------------------------------------------------- Responsive Section */
/* Screen Size < 1099px */
@media screen and (max-width: 1099px) {
    /* home-body */
    .home-body{
        grid-template-columns: 10% auto;
    }
    /* left Column */
    .home-left-column{
        grid-column: 1/2;
    }

    .home-left-column h2{
        display: none;
    }
    .home-left-column>a>div>*{
        padding: 0;
        margin: 0;
    }
    .home-left-column>a>div{
        padding-left:35%;
    }
    /* right Column */
    .home-right-column{
        padding-left: 10px;
        grid-column: 2/3;
    }
}

/* Screen Size < 900px */
@media screen and (max-width: 900px) {
    /* home-body */
    .home-body{ 
        grid-template-columns: 0px auto;
    }
    /* left column */
    .home-left-column{
       position: absolute;
       top: 109px;
    }

    .home-left-column>a>div{
        padding:20px;
    }

    /* Hiding the sideBar */
    .hide-sidebar{
        margin-left: -250px;
    }

    /* Displaying the menu bar */
    #menu-logo{
        display: inline-block;
    }
    .changepasswordcard {
        margin-bottom: 20%;
    }
}
/* Screen Size < 700px */
@media screen and (max-width:700px){
    /* Navigation bar icons; Hiding the nevigation icon */
    .icons>a{
        display: none;
    }
    /* left column */
    .home-left-column>a>div{
        margin: 0 5px;
        padding: 5px 10px;
    }
    .home-left-column>a>div:hover{
        margin-left: 2px;
        margin-right: 2px;
        border-left: 1px solid black;
    }
    .home-left-column h2{
        display: block;
    }    
}
/* Screen Size < 500px */
@media screen and (max-width:500px){
    /* left column */
    .home-left-column>a>div>span{
        font-size: 24px;
    }
    .home-left-column>a>div>h2{
        font-size: 1rem;
    }
    .home-left-column{
        padding-bottom: 5px;
        border-bottom: 4px solid #717375;
    }
}