*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald','Times New Roman', Times, serif;
}

.head >p {
    padding: 1%;
    font-size: xx-large;
}
.container {
    background-color: #0081cf;
    padding: 18px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 4px 2px 3px #010911;
}

.head p {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    text-align: center;
}

.content {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

#content1, #content2, #content3, #content4, #content5, #content6 {
    border: 1px solid black;
    padding: 5px;
    width: 290px;
    height: 230px;
    background-color: #308198;
    border-radius: 10px;
    box-shadow: 4px 2px 3px #010911;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content p {
    color: white;
    text-align: left;
    border-left: 3px solid #00283B;
    padding: 10px;
}

.content h3 {
    font-size: x-large;
    color: #00283B;
    padding: 10px;
}